@import "../../variables.scss";

.container {
  width: 295px;
  height: 250px;
}

.img {
  width: 264px;
  height: 155px;
}

.text {
  margin-top: 15px;
}

.header {
  font-size: 18px;
  color: $blue;
}
