.logo {
  display: flex;
  align-items: center;
}

.medicalClinic {
  width: 200px;
  height: 30px;
}

.container {
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 4px 6px -6px #222;
}

.navTab {
  cursor: pointer;
  padding: 6px 8px;
  text-decoration: none;
  color: black;
  width: 50px;
  height: 30px;
  opacity: 0.2;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
  }
}
