.cardBody {
  padding: 0 !important;
}

.container {
  background-image: url('../../assets/healthFundBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #007bff;
}

.nav,
.row {
  margin: 0 !important;
}

.navTab {
  &:hover {
    background: #78acfa;
    color: #fff;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  background: #1786fc;
  color: #fff;
  font-weight: bold;

  > div {
    margin-right: 10px;
  }
}

.cardBtn {
  margin-right: 5px;
}

.card {
  margin-top: 10px;
}

.rightSide {
  margin-top: 10px;
  height: 98vh;
  background: transparent;
}

.accordions {
  &:hover {
    cursor: pointer;
  }
}

.collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
