@import '../variables.scss';

.data {
  color: $blue;
}

.dataDiv {
  width: 45%;
}

.referralsDataContainer {
  width: 70%;
  text-align: left;
}

.referralsDataSections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cardBody {
  padding: 0 !important;
}

.container {
  background-image: url('../../assets/healthFundBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

a {
  color: #007bff;
}

.nav,
.row {
  margin: 0 !important;
}

.navTab {
  &:hover {
    background: #78acfa;
    color: #fff;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  background: #1786fc;
  color: #fff;

  > div {
    margin-right: 10px;
  }
}

.cardBtn {
  margin-right: 5px;
}

.card {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 10px;
}

.rightSide {
  margin-top: 10px;
  min-height: 98%;
  background: rgba(0, 0, 0, 0.2);
}

.accordions {
  &:hover {
    cursor: pointer;
  }
}

.collapse {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.addDoctor {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.addDoctorDiv {
  display: flex;
  justify-content: center;
  height: 40px;
}

.medicineRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .collapse {
    display: block;
  }

  .referralsDataContainer {
    width: 100%;
  }

  .referralBtns {
    margin-top: 20px;
    text-align: center;
  }
}
