.card {
  margin: 10px;
  flex-basis: 31%;
  @media (max-width: 1200px) {
    flex-basis: 47%;
  }
  @media (max-width: 950px) {
    flex-basis: 100%;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.icons {
  margin-right: 10px;
  fill: #1786fc;
}

.btns {
  display: flex;
  justify-content: flex-end;
  > button {
    margin-right: 10px;
  }
}

.img {
  height: 150px;
  width: 142px;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
