.container {
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  width: 400px;
  padding: 40px;
  color: white;
}

.service {
  margin-bottom: 30px;
}

@media (max-width: 1220px) {
  .container {
    padding: 25px;
  }
}
