@import "../../../../variables.scss";

.phoneContainer {
  display: flex;
  align-items: center;
}

.phone {
  font-weight: bold;
  margin-left: 10px;
}

.icon {
  color: $blue;
}

@media (max-width: 500px) {
  .phone {
    font-size: 14px;
  }
}
