.container {
  height: 260px;
  padding: 0 18% 0 18%;
  display: flex;
  margin: 80px 0 50px 0;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

@media (max-width: 1480px) {
  .container {
    padding: 0 8% 0 8%;
  }
}
