@import "../../../variables.scss";

.text {
  color: rgba(58, 58, 58, 0.6);
  margin-bottom: 2px;
}

.container {
  display: flex;
  align-items: center;
  width: 25%;
  margin-top: 30px;
}

.provider {
  font-weight: bold;
  font-size: 20px;
  color: black;
  width: 200px;
}

.icon {
  color: $blue;
  margin-right: 25px;
}
