.cardBody {
  padding: 0 !important;
}

.nav,
.row {
  margin: 0 !important;
}

.cardHeader {
  display: flex;
  align-items: center;

  > div {
    margin-right: 10px;
  }
}

.cardBtn {
  margin-right: 5px;
}

.card {
  margin-top: 10px;
}

.rightSide {
  margin-top: 10px;
  height: 98vh;
}

.accordions {
  margin-bottom: 10px;
}

.collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
