@import "../variables.scss";

.container {
  padding: 0 18% 0 18%;
  margin: 70px 0 100px 0;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  display: flex;
}

.departments {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 250px 250px 250px;
}

.openingHours {
  background: $blue;
  width: 280px;
}
