@import "../../../variables.scss";

.cards {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0 18% 0 18%;
  margin: 70px 0 100px 0;
}

.profs {
  font-size: 14px;
  color: $blue;
}

.someProfs {
  font-size: 24px;
  margin-bottom: 50px;
}
