@import "../../variables.scss";

.header {
  font-size: 20px;
  color: white;
  font-weight: bold;

  &::after {
    display: block;
    content: "";
    width: 50px;
    max-width: 100%;
    margin-top: 10px;
    bottom: 0;
    left: 0;
    right: auto;
    border-bottom: 1px solid $light-blue;
  }
}

.container {
  width: 250px;
  height: 280px;
}

.section {
  margin-bottom: 20px;
  font-size: 14px;
  padding-bottom: 7px;
  border-bottom: 1px solid #646464;

  &::before {
    content: "\e801";
    font-family: "fontello-custom";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    padding: 0;
    margin: 0 10px 0 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    position: relative;
    font-size: 8px;
    bottom: 1px;
    vertical-align: middle;
    color: $light-blue;
  }
}

.sectionContainer {
  margin-top: 20px;
}
