@import '../variables.scss';

.container {
  margin: 0 auto;
  width: 50%;
  border: 1px solid;
  border-radius: 8px;
  padding: 20px 5px;
}

.select {
  margin: 0 auto;
  width: 50%;
}

.end {
  margin: 0 auto;
  width: 90%;
}

.textarea {
  resize: none;
  height: 150px !important;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: $blue;
  text-align: center;
  margin: 30px 0 40px 0;
}

.footer {
  margin-top: 30px;
}

.patient {
  margin: 0 auto;
  width: 90%;
}

.addBtn {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.addSectionDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 40px;
}

.assignBtn {
  margin: 20px auto;
  display: block;
}

@media (max-width: 1280px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}
