.search {
  display: flex;
  margin: 10px auto;
  width: 50%;
}

.btn {
  margin-left: -40px;
  background: #1da39b;
  border-color: #1da39b;

  &:hover {
    background: #1a6b66;
    border-color: #1a6b66;
  }
}

@media (max-width: 768px) {
  .search {
    width: 70%;
  }
}
