.titleLabel {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.regNumbers {
  display: flex;
  gap: 0;
  width: 300px;
  height: 30px;
  margin-top: 40px;
}

.regNumbersContainer {
  float: right;
  margin-bottom: 20px;
}

.checkboxSection {
  float: right;
}

.characters {
  line-height: 24px;
}

.specialtyCode {
  display: flex;
  gap: 0;
  width: 50px;
  height: 30px;
}

.specialtyCodeSection {
  margin-top: 40px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nameAndLastName {
  width: 60%;
}

@media (max-width: 1280px) {
  .regNumbersContainer,
  .checkboxSection {
    float: none;
  }

  .specialtyCodeSection {
    display: block;
    float: none;
  }

  .nameAndLastName {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .regNumbers {
    width: 220px;
  }
}
