@import '../variables.scss';

.container {
  margin: 10% 0;
  padding: 0 18%;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: $blue;
  text-align: center;
  margin-top: 30px;
}

.search {
  margin: 40px 0 20px 0;
}

.accordions {
  &:hover {
    cursor: pointer;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  background: #1786fc;
  color: #fff;

  > div {
    margin-right: 10px;
  }
}

.collapse {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.data {
  color: $blue;
}

.dataDiv {
  width: 45%;
}

.referralsDataContainer {
  width: 70%;
  text-align: left;
}

.referralsDataSections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.accepted {
  fill: green;
  height: 40px;
  width: 40px;
}

.declined {
  fill: red;
  height: 40px;
  width: 40px;
}

@media (max-width: 900px) {
  .container {
    padding: 0 2%;
  }

  .collapse {
    display: block;
  }

  .referralsDataContainer {
    width: 100%;
  }

  .referralBtns {
    margin-top: 20px;
    text-align: center;
  }

  .collapse {
    display: block;
  }
}
